.portfolio{
    background-color: var(--section-background);
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}
.Portfolio-container{
    padding: 0px 70px;
}
.portfolio header.titles{
    text-align: center;
}
.portfolio .title{
    color: var(--gray-tran-color);
    font-size: 6rem;
    margin-bottom: -40px;
    margin-top: 0;
}
.portfolio .heading{
    font-size: 20px;
    line-height: 0;
    color: #797979;
}
.box-project{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;

}
.box-project .box{
    background: white;
}
.box .img{
    max-width: 100%;
}

.box .title-box{
    padding: 20px;
    margin: 0;
}
.box .desc-box{
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
}